# Eclipse workspace specific files
server-code-1/.metadata/

# Eclipse Project
server-code-1/AppUserList/target/
server-code-1/AppUserList/data/

# Ignore iOS Files
**/.DS_Store
**/.xcuserstate

# Ignore API Keys and Secrets
application-dev.properties
.metadata
*.key
*.pem
server-code-1/.sonarlint
server-code-1/AppUserList/.settings
server-code-1/Servers
