<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.runDockerImageLaunchConfigurationType">
    <booleanAttribute key="allocatePseudoTTY" value="false"/>
    <booleanAttribute key="autoRemove" value="false"/>
    <stringAttribute key="command" value="catalina.sh run "/>
    <stringAttribute key="connectionName" value="linuxkit-364fa8531499"/>
    <stringAttribute key="creationDate" value="2023-11-05 00:36:57"/>
    <stringAttribute key="entryPoint" value=""/>
    <listAttribute key="envVariables"/>
    <stringAttribute key="imageId" value="sha256:83d7901f87573e2a494b4d0b98f4172e8ffddda594dbf6f33a33868f4064ecbf"/>
    <stringAttribute key="imageName" value="appuserlist-web:latest"/>
    <booleanAttribute key="interactive" value="false"/>
    <mapAttribute key="labels"/>
    <listAttribute key="links"/>
    <booleanAttribute key="privileged" value="false"/>
    <booleanAttribute key="publishAllPorts" value="true"/>
    <listAttribute key="publishedPorts">
        <listEntry value="8080/tcp::8080"/>
        <listEntry value="8090/tcp::8090"/>
    </listAttribute>
    <booleanAttribute key="readonly" value="false"/>
    <listAttribute key="volumes"/>
</launchConfiguration>
